[submodule "hardware-wallet"]
	path = hardware-wallet
	url = https://github.com/lnbits/hardware-wallet
[submodule "LNPoS"]
	path = LNPoS
	url = https://github.com/motorina0/LNPoS
[submodule "lnpos"]
	path = lnpos
	url = https://github.com/motorina0/LNPoS
